.btn-source {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 18px;
  height: 32px;
  color: var(--g-colorGray300);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: none;
  padding: 0px 7px;
  width: 100%;

  ::ng-deep .mat-button-wrapper {
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;

    .mat-icon {
      transform: rotate(135deg);
      height: 20px !important;
      width: 20px !important;
      margin-right: 3px;
    }
    .material-icons-outlined {
      font-size: 20px;
      font-weight: 600;
    }
    .content {
      font-size: var(--g-text-font-size-2);
      text-align: left;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      max-width: 100%;
      overflow: hidden;
    }
  }
}

.btn-source:hover {
  background-color: rgba(255, 255, 255, 1);
}

.btn-source:active {
  box-shadow: none !important;
  //   transform: scale(0.93, 0.93);
}
