.sb-pin-name {
  padding: 8px 6px 16px;
  height: 48px;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: var(--g-text-font-size-2);
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    color: var(--g-colorGray300);
  }
}
