.txb-common:focus-within {
    box-shadow: var(--border-blue-active);
    #icon_search.mat-icon {
        display: none;
    }
}

.txb-common {
    border-radius: 48px;
    height: 48px;
    width: 100%;
    overflow: hidden;

    ::ng-deep * {
        background-color: transparent;
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0px;
        height: 100%;
    }
    ::ng-deep .mat-form-field-flex {
        padding-top: 0px;
        padding-left: 16px;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

    ::ng-deep .mat-form-field-infix {
        display: flex;
        align-items: center;
        padding: 0px;
        border-top: none;
        input {
            color: var(--g-colorGray200);
            font-size: var(--g-text-font-size-3);
            font-weight: normal;
            height: 44px;
            padding-top: 4px;
        }
    }
    #icon_search.mat-icon {
        color: var(--g-colorGray200);
        font-weight: 600;
        width: 22px;
        height: 22px;
        font-size: 22px;
        margin-right: 5px;
    }
    #icon_cancel.mat-icon {
        color: var(--g-colorGray300);
        // font-weight: 600;
        width: 22px;
        height: 22px;
        font-size: 22px;
        margin-left: 10px;
        cursor: pointer;
    }
}

.txb-common--primary {
    background-color: var(--g-colorGray100);
}

.txb-common--primary:hover {
    background-color: var(--g-colorGray150);
}

.txb-common--secondary {
    background-color: var(--g-colorGray0);
}
.txt-share-mode {
    border: var(--g-border-width) solid var(--g-colorGray150);
    border-color: var(--g-colorGray150);
    appearance: none;
    border-style: solid;
    border-width: 2px;
    white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

.txb-common--input-text {
    height: 48px;
    border-radius: 16px;
    @apply txt-share-mode;
    #icon_cancel,
    #icon_search {
        display: none !important;
    }

    ::ng-deep .mat-form-field-infix {
        input {
            height: 48px;
            padding-top: 0px;
        }
    }
}
.txb-common--textarea {
    @apply txt-share-mode;
    height: auto;
    min-height: 48px;
    border-radius: 3rem;

    font-size: var(--g-text-font-size-2);
    color: var(--g-colorGray300);

    #icon_cancel,
    #icon_search {
        display: none !important;
    }

    ::ng-deep .mat-form-field-infix {
        textarea {
            min-height: 48px;
        }
    }
}
.txb-common--textarea:active,
.txb-common--textarea:focus-within {
    border-radius: 16px;
}

.txb-common--textarea[disabled="true"] {
    border-radius: 16px !important;
    textarea:disabled {
        font-size: var(--g-text-font-size-1);
        color: var(--g-colorGray300);
    }
}
textarea::-webkit-scrollbar {
    display: none;
}
